# mDNIE
allow system_server sysfs_mdnie_writable:lnk_file rw_file_perms;
allow system_server sysfs_mdnie_writable:dir rw_dir_perms;
allow system_server sysfs_mdnie_writable:file rw_file_perms;

# app efs
allow system_server batch_io_device:chr_file { open read write ioctl };

type_transition system_server system_data_file:fifo_file gps_data_file ".flp.interface.pipe.to_gpsd";
type_transition system_server system_data_file:fifo_file gps_data_file ".gps.interface.pipe.to_gpsd";
type_transition system_server system_data_file:fifo_file gps_data_file ".gps.interface.pipe.to_jni";
allow system_server gps_data_file:dir rw_dir_perms;
allow system_server gps_data_file:fifo_file create_file_perms;

unix_socket_connect(system_server, property, gpsd)

get_prop(system_server, userspace_reboot_exported_prop);
get_prop(system_server, userspace_reboot_config_prop);
get_prop(system_server, exported_camera_prop);
get_prop(system_server, vendor_security_patch_level_prop);
